<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>鄰避設施</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="{{ url_for('static', filename='css/Bootstrap_Icons.css') }}" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="{{ url_for('static', filename='css/Google_fonts_1.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/Google_fonts_2.css') }}" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="{{ url_for('static', filename='css/SimpleLightbox_plugin_CSS.css') }}" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <!-- map CSS -->
        <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet" />
        <!-- chat bot CSS -->
        <link href="{{ url_for('static', filename='css/chatbot.css') }}" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">BDSE 34 - 3</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="home">首頁</a></li>
                        <li class="nav-item"><a class="nav-link" href="map">標的查詢</a></li>
                        <li class="nav-item"><a class="nav-link" href="trend">趨勢分析</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="contact">聯絡我們</a></li>
                        <li class="nav-item"><a class="nav-link" href="signin">登入</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead">
            <form id="myForm" action="/submit" method="get" enctype="multipart/form-data">
                <div class="map-and-table-container">
                    <div id="map-controls">
                        <div class="label-container"></div>
                        <label for="citySelect" class="horizontal-text">縣市</label>
                        <select id="citySelect" name="city" required>
                            <option value="Choose" selected>請選擇</option>
                            <option value="Taipei">台北市</option>
                            <option value="NewTaipei">新北市</option>
                        </select>
                        <label for="districtSelect" class="t1">地區</label>
                        <select id="districtSelect" name="district" required>
                            <option value="Choose" selected>請選擇</option>
                        </select>
                        <button id="total_ping">總坪數</button>
                        <button id="total_price">總價格</button>
                        <button id="property_type">型態</button>
                        <button id="submit">送出</button>
                    </div>
                    <div id="map"></div>
                    <table>
                        <thead>
                            <tr>
                                <th>價格</th>
                                <th>建物年齡</th>
                                <th>總坪數</th>
                                <th>地址</th>
                                <th>建物種類</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- 總坪數popup -->  
                    <!-- id="ping-popup": 給彈出窗口設定一個唯一的 ID。-->
                    <!-- class="popup": 使用 class 來指定這個元素是彈出窗口。 -->
                    <!-- class="popup-content": 內部內容區域。 -->
                    <div id="ping-popup" class="popup">
                        <div class="popup-content">
                            <span class="close" data-popup="ping-popup">&times;</span>
                            <h2>總坪數</h2>
                            <div class="slider-container">
                                <div class="slider-track"></div>
                                <div class="slider-range" id="slider-range"></div>
                                <input type="hidden" id="total_ping" name="total_ping" value="">
                                <input type="range" min="0" max="600" step="10" value="0" id="min-range" class="slider">
                                <input type="range" min="0" max="600" step="10" value="1800000000" id="max-range" class="slider">
                                <div class="slider-track" id="slider-track"></div>
                                <div class="range-values">
                                    Min: <span id="total_ping_min">0</span> - Max: <span id="total_ping_max">1700</span>
                                </div>
                                <div class="slider-buttons">
                                    <button id="ping_btn_clear">Clear</button>
                                    <button id="ping_btn_apply">Apply</button>
                                </div>
                                <span class="close" data-popup="ping-popup">&times;</span>
                            </div>
                        </div>
                    </div>
                    <!-- 總價格popup -->
                    <div id="price-popup" class="popup">
                        <div class="popup-content">
                            <span class="close" data-popup="price-popup">&times;</span>
                            <h2>總價格(萬)</h2>
                            <div class="slider-container-price">
                                <div class="slider-track-price"></div>
                                <div class="slider-range-price" id="slider-range-price"></div>
                                <input type="hidden" id="total_price" name="total_price" value="">
                                <input type="range" min="0" max="14000" step="10" value="0" id="min-range-price" class="slider">
                                <input type="range" min="0" max="14000" step="10" value="14000" id="max-range-price" class="slider">
                                <div class="slider-track-price" id="slider-track-price"></div>
                                <div class="range-values-price">
                                    Min: <span id="total_price_min">0</span> - Max: <span id="total_price_max">14000萬</span>
                                </div>
                                <div class="slider-buttons-price">
                                    <button id="price_btn_clear" onclick="clearPingSliders()">Clear</button>
                                    <button id="price_btn_apply">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Home type popup -->
                    <div id="type-popup" class="popup">
                        <div class="type-popup-content" id="property_type">
                            <span class="type-close" data-popup="type-popup">&times;</span>
                            <h2 class="centered-title">建物型態</h2>
                            <ul class="type-options">
                                <li><label><input type="radio" name="property_type" value="all">全部</label></li>
                                <li><label><input type="radio" name="property_type" value="apartment">公寓</label></li>
                                <li><label><input type="radio" name="property_type" value="villa">別墅</label></li>
                                <li><label><input type="radio" name="property_type" value="duplex">透天厝</label></li>
                                <li><label><input type="radio" name="property_type" value="elevator_building">電梯大樓</label></li>
                            </ul>
                            <div class="type-slider-buttons">
                                <button id="type_btn_clear">Clear</button>
                                <button id="type_btn_apply">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top" id="Top">Top</div>
            </form>
        </header>

        <!-- 聊天機器人按鈕和對話框 -->
        <section class="chatbot">
            <div class="container">
                <!-- AI小幫手 顯示對話框的按鈕 -->
                <button id="dialogButton" class="floating-button" onclick="openDialog()">
                    <img src="static/assets/img/LLM.png" alt="LLM Image" id="dialogImage">
                </button>
                <!-- 小幫手對話框 -->
                <div id="dialogBox" class="hidden">
                    <!-- 對話框頂部區塊 -->
                    <div id="dialogHeader">
                        <!-- 對話框的 logo 和 標題 -->
                        <div id="dialogTitle">
                            <img src="static/assets/img/ailogo.png" alt="AI Logo" id="ailogo" style="width: 30px; height: 30px; margin-right: 10px;">
                            <span>房屋智選AI助理</span>
                        </div>
                        <!-- 減號 (隱藏對話框) -->
                        <button id="hideButton" onclick="hideDialog()">
                            <img src="static/assets/img/hide.png" alt="隱藏對話" id="hideImage" style="width: 20px; height: 20px;">
                        </button>
                        <!-- 叉叉 (關閉對話框) -->
                        <button id="closeButton" onclick="closeDialog()">
                            <img src="static/assets/img/X.png" alt="關閉對話" id="closeImage" style="width: 20px; height: 20px;">
                        </button>
                    </div>
                    <!-- 對話顯示區 -->
                    <div id="chatArea">
                        <!-- 對話訊息 -->
                        <div id="chatMessages"></div>
                    </div>
                    <!-- 讀取動畫 -->
                    <div id="loadingIndicator">
                        <img src="static/assets/img/load.svg" alt="Loading..." id="loadingImage" class="hidden">
                    </div>
                    <!-- 輸入欄 + 發送鍵 -->
                    <div id="formContainer">
                        <form id="chatForm" onsubmit="return false;">
                            <label for="question"></label><br>
                            <div id="inputArea">
                                <input type="text" id="question" name="question" oninput="adjustInputSize(this)" maxlength="100"><br><br>
                                <button id="inputbutton" onclick="sendQuestion()">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <!-- <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Company Name</div></div>
        </footer> -->

        <!-- Bootstrap core JS-->
        <script src="static/js/Bootstrap_core_JS.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="static/js/SimpleLightbox_plugin_JS.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="js/Core_theme_JS.js"></script>
        <!-- map JS -->
        <script src="static/js/map.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
        <!-- chat bot JS -->
        <script src="static/js/chatbot.js"></script>
    </body>
</html>
